@using DBUtility;
@model Maticsoft.Model.UserInfo
@{
    ConfigurationHelper config = new ConfigurationHelper();
    string WebUrlPath = config.getConfigName("WebUrl");
    Layout = WebUrlPath + "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "修改 | 密码";
}


<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary addbtn-primary" href="#">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="add_button">

        </div>
    </nav>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h5>修改密码</h5>
            </div>
            <div class="ibox-content">
                <form method="get" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">原密码</label>
                        <div class="col-sm-10"><input class="form-control" name="password" type="password" id="oldPassword"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">新密码</label>
                        <div class="col-sm-10"><input class="form-control" name="password" type="password" id="newPassword"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-10"><input class="form-control" name="password" type="password" id="confirmPassword"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                </form>
                <div style="height:50px;">
                    <button class="btn btn-primary pull-right dim" type="button" id="summitChange">
                        <i class="fa fa-check"></i>
                        确认修改
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>

@section BodyBottom{
<script type="text/javascript">
$(function () {
            $("#oldPassword").blur(function () {
                if ($("#oldPassword").val().length == 0) {
                    $(this).parent().parent().addClass("has-error");
                } else {
                    $(this).parent().parent().removeClass("has-error");
                }
            });
            $("#newPassword").blur(function () {
                if ($("#newPassword").val().length == 0) {
                    $(this).parent().parent().addClass("has-error");
                } else {
                    $(this).parent().parent().removeClass("has-error");
                }
            });
            $("#confirmPassword").blur(function () {
                if ($("#confirmPassword").val().length == 0) {
                    $(this).parent().parent().addClass("has-error");
                } else {
                    $(this).parent().parent().removeClass("has-error");
                }
            });
            $("#summitChange").click(function () {
                var oldPassword = $("#oldPassword").val();
                var newPassword = $("#newPassword").val();
                var confirmPassword = $("#confirmPassword").val();
                if (oldPassword.length == 0 || newPassword == 0 || confirmPassword == 0) {
                    toastr.error("请输入完整内容");
                    return;
                }
                if (newPassword.length < 6 || newPassword.length > 20) {
                    toastr.error("密码长度在6-20字内");
                    return;
                }
                if (newPassword != confirmPassword) {
                    toastr.error("两次输入密码不一致");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: '@WebUrlPath/Json/ChangePassword',
                    data: { oldpassword: oldPassword, newPassword: newPassword, checkPassword: confirmPassword },
                    cache: false,
                    success: function (data) {
                        if (data.Result == "success")//修改成功
                        {
                            toastr.success(data.Message);
                            var url = "location.href = '" + data.Address + "';";
                            window.setTimeout(url, 1000);
                        }
                        else if (data.Result == "errorPassword")//原密码输入错误
                        {
                            toastr.error(data.Message);
                        }
                        else if (data.Result == "fail")//修改失败
                        {
                            toastr.error(data.Message);
                        }
                        else {
                            toastr.error(data.Message);
                        }
                    },
                    error: function () {
                        toastr.error("网络繁忙请稍后再试");
                    }
                });
            });
        });
</script>
}